@import './fonts.css';
@import 'tailwindcss';
@import './tokens.css';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    margin: 0;
    background-color: var(--color-xe-bg);
    color: var(--color-xe-text);
    font-family: var(--font-xe-body);
    font-weight: 400;
    line-height: var(--leading-xe-body);
  }
}
